<div class="card mt-5 mb-5">
    <div class="card-body">
        <h4>Comments (133324)</h4>
        <div class="comment-box mt-3 p-4">
            <h6 class="text-danger">Robin</h6>
            <small>Last updates</small> 
            <div class="mt-2 mb-1">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati voluptate atque, aperiam in corrupti beatae odit neque cumque deserunt voluptatum placeat itaque! Exercitationem, nostrum?
            </div>
            <a href="" class="m-2">View</a>
            <a href="" class="m-2">reply</a>

        </div>
        <div class="comment-box mt-3 p-4">
            <h6 class="text-danger">Robin</h6>
            <small>Last updates</small> 
            <div class="mt-2 mb-1 ">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati voluptate atque, aperiam in corrupti beatae odit neque cumque deserunt voluptatum placeat itaque! Exercitationem, nostrum?
            </div>
            <a href="" class="m-2">View</a>
            <a href="" class="m-2">reply</a>

        </div>
        <div class="comment-box mt-3 p-4">
            <h6 class="text-danger">Robin</h6>
            <small>Last updates</small> 
            <div class="mt-2 mb-1">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati voluptate atque, aperiam in corrupti beatae odit neque cumque deserunt voluptatum placeat itaque! Exercitationem, nostrum?
            </div>
            <a href="" class="m-2">View</a>
            <a href="" class="m-2">reply</a>

        </div>
    </div>
</div>