.list{
    display: flex;
    flex-direction: row   ;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

ul{
    list-style: none;
    // background-color: red;

}
li{
    margin-right: 0.6rem;
    background-color: yellow;
    padding: 0.5rem;
    // min-width:  6rem;
    text-align: center;
    border-radius: 0.5rem;
    font-size: small;    
}

nav{
    height: 7rem;
}