<section class="featured-section p-3 bg-info" *ngIf="posts" > 
 
    <div class="container">
        <div class="row">

            <div class="col-md-12 text-center mb-3">
                <h4>Featured post</h4>
                <p>These are the featured post here!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 " *ngFor="let post of posts" >
                <app-post-card [post]="post" ></app-post-card>
            </div>
            <!-- <div class="col-md-3 ">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-3 ">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-3 ">
                <app-post-card></app-post-card>
            </div> -->
            <!-- <div class="col-md-3">
                <app-post-card></app-post-card>
            </div>
            -->
        </div>
    </div>
</section>

<section class="featured-section p-5 bg-success"> 
 
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mb-3">
                <h4>Latest post</h4>
                <p>These are the Latest post here!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3  ">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-3  ">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-3 ">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-3 ">
                <app-post-card></app-post-card>
            </div>
            <!-- <div class="col-md-2">
                <app-post-card></app-post-card>
            </div> -->
           
        </div>
    </div>
</section>


<app-subscription-form  
 [isSubscribed]="isSubscribed"
 (subscriptionData)="subscription($event)"
 [isDuplicateEmail]="isDuplicateEmail" >
</app-subscription-form>