<div class="card mb-3" style="width: auto; ">
    <img class="card-img-top" src="../../../assets/3.jpg" alt="Card image cap" >
    <div class="card-body">
        <!-- <ul class="list">
            <li>feature</li>
            <li>react</li>
            <li>views</li>
        </ul> -->
        <small class="text-danger">Design</small>
        <small class="text-primary" > Featured</small>
        <small class="text-info" >views</small>
        <!-- <small class="text-success">updates</small>   -->
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a   routerLink="single-post" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <!-- <div class="card" style="width: 15rem;"   >
    <img src="../../../assets/1.jpg" alt="">
    <div>
        <ul class="list">
            <li>read</li>
            <li>like</li>
            <li>star</li>
            <li>moon</li>
        </ul>
    </div>
    <div class="p-2">
        <h6 class="title">The cars</h6>
        <p class="description">
            Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Mollitia sunt pariatur
            non, nulla assumenda doloribus reprehenderit 
            quas consectetur repellendus nesciunt autem 
            quos, aliquid ad?
        </p>
    </div>

  </div> -->
