<div class="container bg-info w-50 p-5 ">
    <h1 class="text-center">About us</h1>
    <div class="card p-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor sed qui dolorem consequatur aut mollitia, exercitationem error ducimus commodi molestiae sequi ipsum blanditiis tempore ut excepturi optio est! Fuga, perferendis reprehenderit, nobis assumenda praesentium nihil laudantium iure nisi doloribus mollitia natus totam hic dolore vero ut repudiandae explicabo nostrum illo tenetur fugiat facilis error, adipisci alias porro. Porro dignissimos quis eveniet vel, cumque fugit ut maiores, ex fuga obcaecati dolorem tenetur sapiente rem explicabo eius? Error, sapiente asperiores laboriosam similique quia id aliquam at optio fugit omnis.
        <div class="text-center mt-2">
            <button class="btn btn-primary">back home</button>
        </div>
    </div>
</div>


<section class="mt-3 mb-3">
    <app-subscription-form></app-subscription-form>
</section>



<!-- <section>

</section> -->