<div class="container" *ngIf="singlePost" >
    <div class="row">
        <h2>{{singlePost.title | uppercase }} </h2>
    </div>
    <div class="row">
        <div class="col-md-9">
            
            <div class="card">
                <img [src]="singlePost.postImgPath" alt="" width="" height="500px">
                <div class="p-5">
                    <small class="text-danger">Design</small>
                    <small class="text-primary" > Featured</small>
                    <small class="text-info" >views : {{singlePost.views}}</small>
                    <small class="text-success">updated on </small>
                    <h1>Header</h1>
                    <p>{{singlePost.description }}
                    </p>
                </div>
            </div>
            <div>
                <app-comment-form (comment)="addComment($event)" ></app-comment-form>
                <app-comment-list></app-comment-list>
            </div>
            
            <!-- <div>
                <app-subscription-form></app-subscription-form>
            </div> -->
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-subscription-form  [isSubscribed]="isSubscribed" (subscriptionData)="subscription($event)" ></app-subscription-form>
        </div>
    </div>
</div>