<div class="container-fluid">
    <div class="row">
        <h2>Single Post </h2>
    </div>
    <div class="row">
        <div class="col-md-9">
            
            <div class="card">
                <img src="../../../assets/1.jpg" alt="" width="" height="500px">
                <div class="p-5">
                    <small class="text-danger">Design</small>
                    <small class="text-primary" > Featured</small>
                    <small class="text-info" >views</small>
                    <small class="text-success">updated on </small>
                    <h1>Header</h1>
                    <p>Lorem ipsum dolor sit amet consectetur,
                        adipisicing elit. Facere, provident. 
                        Error veritatis nisi maxime? Ad recusandae
                        quia totam at neque optio atque.
                        Nam quisquam, hic placeat tempora quia 
                        natus consequuntur.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Rem asperiores quos adipisci, officiis dolores
                        nihil odit dolore non cum dolor tempore numquam
                        vero natus facilis deserunt illum amet dolorem id 
                        sed architecto officia aliquid inventore? Rerum ea 
                        possimus consequuntur cupiditate sed id assumenda 
                        commodi unde quaerat laborum fugit nostrum, fuga 
                        omnis exercitationem sit veritatis veniam delectus 
                        asperiores labore necessitatibus ratione nam nobis. 
                        Voluptatum vero modi dolorem? Reprehenderit itaque 
                        molestiae aspernatur aperiam dicta obcaecati quae 
                        dolorum sed facilis? Odio possimus id esse dolor 
                        modi. Quidem sint, at, illum autem expedita illo 
                        culpa, vitae recusandae et delectus corporis dignissimos
                         quos?
                    </p>
                </div>
            </div>
            <div>
                <app-comment-form></app-comment-form>
                <app-comment-list></app-comment-list>
            </div>
            
            <!-- <div>
                <app-subscription-form></app-subscription-form>
            </div> -->
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-subscription-form></app-subscription-form>
        </div>
    </div>
</div>