<!-- <div class="container-fluid  ">
    <div class="row">
        <div class="col"> -->
            <form class=" card text-center mt-3 mb-3" >
                <h5>SUBSCRIPTION FORM</h5>
                <div  class="d-flex  justify-content-center ">
                    <div>
                        <input type="text" placeholder="NAME">
                    </div>
                    <div>
                        <input type="text" placeholder="EMAIL">
                    </div>
                    <div>
                        <button class="bg-success text-white">Submit</button>
                    </div>
                </div>
            </form>
        <!-- </div> -->
    <!-- </div>
</div> -->